body {
    display: grid;
    grid-template-columns: 20fr 80fr;
    grid-template-rows: 10fr 70fr 10fr;
    gap: 1em;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  header, nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header,
  footer {

    grid-column: span 2;
    margin: 0 auto;
    gap: 20px;

  }
  
  .social-links-inline {
    display: flex; 
    justify-content: center; 
    gap: 24px; 
    padding: 0;
    margin: 0;
  }

  .social-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
  }
  
  .social-icon {
    width: 32px; /* Adjust icon size */
    height: 32px;
    transition: transform 0.2s ease; 
  }
dt, dd {
    margin: 0;
    margin: 0 auto;
  }
  dd {
    margin-top: 8px; /* Space between the icon and label */
    font-size: 12px; /* Adjust text size */
  }
  
  video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
  }
  .arrow-button {
    background: rgba(135, 133, 133, 0.129); 
    color: #00ff9930; /* Arrow color */
    border: none; /* No border */
    font-size: 1.5em; 
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center; /* Center arrow inside the button */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth hover effects */
  }
  
  .arrow-button:hover {
    transform: scale(1.1); /* Slight zoom effect */
    background: #00ff9930; 
    color: rgba(135, 133, 133, 0.129); 
  }