
@font-face {
    font-family: 'PixelFont';
    src: url(/assets/font/PixelFont-Regular.otf) format('opentype');
}

body {
    font-family: Arial, sans-serif;
}
h2{
    font-family: 'PixelFont', Arial, sans-serif;
}
