
@font-face {
    font-family: 'PixelFont';
    src: url(/i-love-web/assets/font/PixelFont-Regular.otf) format('opentype');
}

body {
    font-family: Arial, sans-serif;
}
h2:not([class]){
    color: red;
}
    
.heart, .pixel {
    font-family: 'PixelFont', Arial, sans-serif;
    color: red;
}
